langchain
langchain-core
langchain-community

# OpenAI Integration
langchain-openai
openai
chromadb


# Hugging Face
langchain-huggingface
transformers
huggingface-hub
sentence-transformers

python-dotenv
numpy 
scikit-learn
streamlit
pydantic
grandalf
pypdf
tiktoken